@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}



#navbar {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 10px;
}

#navbar ul li a:hover {
    color: #00baf2;

}

#navbar ul li {
    padding: 0px 10px;
}

#signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    text-align: center;
    margin-right: 5px;
    font-weight: bolder;
    /* background: #00baf2; */
    background: #002970;
    border-radius: 30px;

}
#signin span {
    color: aliceblue;
    padding: 5px 10px;
}
#signin img {
    width: 34px;
}

#note {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.link {
    text-decoration: none;
    padding-left: 5px;
    color: black;
    font-weight: 600;
}

.Flex-Container {
    display: flex;
    justify-content: space-between;
}
.main-heading {
    font-size: xxx-large;
    /* line-height: 0.4; */
    font-weight: 1000;

}

#download {
    line-height: 10;
    padding: 10px 30px;
    background:black;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}
.container {
    z-index: 1;
} 

#download:hover {
    color: black;
    background: white;
    border: 1px solid black;
    font-weight: 700;
}

.Faint {
    font-weight: 300;

}

.icons {
    width: 64px;
    height: 64px;
    padding: 20px;
    margin: 0px 20px;
}
#recharge {
    background:#00baf2;
    margin: 0px;
    padding: 40px 100px;
}

#book {
    background: #002970;
    margin: 0px;
    padding: 40px 100px;
}

#recharge div div p, #book div div p {
    padding-left: 40px;
    color: white;
    font-weight: 600;
}
#recharge div div a, #book div div a {
    text-decoration: none;
}

#recharge div div:hover  {
    border-radius: 10px;
    background-color: #0086af;

}

#book div div:hover {
    border-radius: 10px;
    background-color: #2b5baf;

}